# images
PyWhatKit_DB
.png
.gif
.jpg
.xlsx
.pdf
# folders and files
__pycache__
folder_db
.vscode
vscode
dist
build
localpycs
.exe
.env
.spec
buildozer
.pytest_cache
pytest_cache
backups
DataBase
data_base
v
# data base
.db